.route-transition {
    position: relative;
    overflow: hidden;
  }
  
  .route-transition-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .route-transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 3.5s ease-in-out, transform 3.5s ease-in-out;
  }
  
  .route-transition-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .route-transition-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 3.5s ease-in-out, transform 3.5s ease-in-out;
  }
  